<table class="table">
	<thead>
		<th>Item Name</th>
		<th>Room</th>
		<th>Value</th>
	</thead>

		<tr ng-repeat='item in items track by $index'>
			<td>{{item.name}}</td>
			<td>{{item.room}}</td>
			<td><span ng-if="item.value > 0">{{item.value}}</span></td>
			<td>
				<button class="delete-button btn btn-danger "ng-click="removeItem($index)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</td>
		</tr>

	<thead>
		<th> </th>
		<th> </th>
		<th>Total Value:</th>
		<th>{{totalValue | currency}}</th>
	</thead>
</table>





